In [2]:
import numpy as np
import pandas as pd

In [4]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

In [5]:
delivery=pd.read_csv('delivery2.csv')

In [6]:
matches=pd.read_csv("matches.csv")

In [7]:
delivery.shape

(179078, 21)

In [9]:
delivery.shape

(179078, 21)

In [14]:
delivery.sample()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
151150,7896,2,Kolkata Knight Riders,Royal Challengers Bangalore,14,2,KD Karthik,N Rana,YS Chahal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [16]:
delivery.shape

(179078, 21)

In [18]:
matches.shape

(756, 18)

In [20]:
total_score_df =delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [22]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [24]:
# Extract the First inning score
total_score_df=total_score_df[total_score_df['inning']==1]

In [26]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [28]:
# Merging the two DataFrame 
match_df=matches.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [30]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [32]:
match_df.shape

(756, 20)

In [34]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [36]:
teams=[
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Delhi Capitals',
    'Chennai Super Kings',
    'Rajasthan Royals'
    
]

In [38]:
# Replace the name of the team
match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capital')
match_df['team2']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capital')

In [40]:
match_df['team1']=match_df['team1'].str.replace('Deccan chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].str.replace('Deccan chargers','Sunrisers Hyderabad')

In [42]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]

In [44]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,8,148
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,10,158
10,11,IPL-2017,Kolkata,13-04-2017,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,SP Narine,Eden Gardens,A Deshmukh,NJ Llong,NaN,11,170

In [46]:
match_df.isnull().sum()

id                   0
Season               0
city                 5
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               2
win_by_runs          0
win_by_wickets       0
player_of_match      2
venue                0
umpire1              1
umpire2              1
umpire3            332
match_id             0
total_runs           0
dtype: int64

In [48]:
match_df=match_df[match_df['dl_applied']==0]

In [50]:
match_df=match_df[['match_id','city','total_runs','winner']]

In [52]:
# Merging two DataFrame 
delivery_df=match_df.merge(delivery,on='match_id')

In [54]:
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,207,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Hyderabad,207,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,207,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,Hyderabad,207,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,Hyderabad,207,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102138,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,0,1,0,1,NaN,NaN,NaN
102139,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,0,2,0,2,NaN,NaN,NaN
102140,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
102141,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,0,2,0,2,NaN,NaN,NaN
102142,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [56]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [58]:
delivery_df.shape

(49546, 24)

In [60]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49546 entries, 125 to 102142
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          49546 non-null  int64
 1   city              48957 non-null  object
 2   total_runs_x      49546 non-null  int64
 3   winner            49526 non-null  object
 4   inning            49546 non-null  int64
 5   batting_team      49546 non-null  object
 6   bowling_team      49546 non-null  object
 7   over              49546 non-null  int64
 8   ball              49546 non-null  int64
 9   batsman           49546 non-null  object
 10  non_striker       49546 non-null  object
 11  bowler            49546 non-null  object
 12  is_super_over     49546 non-null  int64
 13  wide_runs         49546 non-null  int64
 14  bye_runs          49546 non-null  int64
 15  legbye_runs       49546 non-null  int64
 16  noball_runs       49546 non-null  int64
 17  penalty_runs      49546 non-null  int64
 18  batsman_runs      49546 non-null  int64
 19  extra_runs        49546 non-null  int64
 20  total_runs_y      49546 non-null  int64
 21  player_dismissed  2409 non-null   object
 22  dismissal_kind    2409 non-null   object
 23  fielder           1732 non-null   object
dtypes: int64(14), object(10)
memory usage: 9.5+ MB

In [62]:
delivery_df['current_score']=delivery_df.groupby('match_id')['total_runs_y'].cumsum()

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/2360476087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score']=delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [64]:
delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score
125,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,1,0,1,NaN,NaN,NaN,1
126,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,NaN,NaN,NaN,1
127,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,NaN,NaN,NaN,1
128,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,2,0,2,NaN,NaN,NaN,3
129,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,4,0,4,NaN,NaN,NaN,7

In [66]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/3239114318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [68]:
delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left
125,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,1,0,1,NaN,NaN,NaN,1,206
126,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,206
127,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,206
128,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,2,0,2,NaN,NaN,NaN,3,204
129,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,4,0,4,NaN,NaN,NaN,7,200

In [70]:
# Ball left 
delivery_df['ball_left']=126-(delivery_df['over']*6+delivery_df['ball'])

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/1170476459.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['ball_left']=126-(delivery_df['over']*6+delivery_df['ball'])

In [72]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna('0')
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x:x if x =='0' else '1')
delivery_df['player_dismissed']=delivery_df['player_dismissed'].astype('int')
wicket=delivery_df.groupby('match_id')['player_dismissed'].cumsum()
delivery_df['wickets'] =10 - wicket
delivery_df.head()

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/2891812276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna('0')
/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/2891812276.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x:x if x =='0' else '1')
/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/2891812276.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed']=delivery_df['player_dismissed'].astype('int')
/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/2891812276.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets'] =10 - wicket

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wickets
125,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,206,119,10
126,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,206,118,10
127,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,206,117,10
128,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,204,116,10
129,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,200,115,10

In [74]:
#Current run rate = runs/overs
delivery_df['current_rr']=(delivery_df['current_score']*6)/(120-delivery_df['ball_left'])

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/1732089311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_rr']=(delivery_df['current_score']*6)/(120-delivery_df['ball_left'])

In [76]:
# Requied run rate
delivery_df['Requied_rr']=(delivery_df['runs_left']*6)/delivery_df['ball_left']

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/786915671.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['Requied_rr']=(delivery_df['runs_left']*6)/delivery_df['ball_left']

In [78]:
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wickets,current_rr,Requied_rr
125,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,NaN,NaN,1,206,119,10,6.000000,10.386555
126,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,NaN,NaN,1,206,118,10,3.000000,10.474576
127,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,NaN,NaN,1,206,117,10,2.000000,10.564103
128,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,NaN,NaN,3,204,116,10,4.500000,10.551724
129,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,NaN,NaN,7,200,115,10,8.400000,10.434783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102138,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,NaN,NaN,152,0,4,5,7.862069,0.000000
102139,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,NaN,NaN,154,-2,3,5,7.897436,-4.000000
102140,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,1,run out,KH Pandya,155,-3,2,4,7.881356,-9.000000
102141,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,NaN,NaN,157,-5,1,4,7.915966,-30.000000
102142,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,1,lbw,NaN,157,-5,0,3,7.850000,-inf

In [80]:
def result(row):
  return 1 if row['batting_team']==row['winner'] else 0

In [82]:
delivery_df['result'] =delivery_df.apply(result,axis=1)

/var/folders/mq/h_hfc2qx3d57wgmj6bb4jnm80000gn/T/ipykernel_88581/699166469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['result'] =delivery_df.apply(result,axis=1)

In [84]:
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wickets,current_rr,Requied_rr,result
125,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,NaN,NaN,1,206,119,10,6.000000,10.386555,0
126,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,NaN,NaN,1,206,118,10,3.000000,10.474576,0
127,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,NaN,NaN,1,206,117,10,2.000000,10.564103,0
128,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,NaN,NaN,3,204,116,10,4.500000,10.551724,0
129,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,NaN,NaN,7,200,115,10,8.400000,10.434783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102138,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,NaN,NaN,152,0,4,5,7.862069,0.000000,0
102139,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,NaN,NaN,154,-2,3,5,7.897436,-4.000000,0
102140,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,run out,KH Pandya,155,-3,2,4,7.881356,-9.000000,0
102141,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,NaN,NaN,157,-5,1,4,7.915966,-30.000000,0
102142,11415,Hyderabad,152,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,1,lbw,NaN,157,-5,0,3,7.850000,-inf,0

In [86]:
final_df=delivery_df[['batting_team','bowling_team','city','runs_left','ball_left','wickets','total_runs_x','current_rr','Requied_rr','result']]

In [88]:
final_df=final_df.sample(final_df.shape[0])

In [90]:
final_df.isnull().sum()

batting_team      0
bowling_team      0
city            589
runs_left         0
ball_left         0
wickets           0
total_runs_x      0
current_rr        0
Requied_rr        5
result            0
dtype: int64

In [92]:
final_df.dropna(inplace=True)

In [94]:
final_df=final_df[final_df['ball_left']!=0]

In [96]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,ball_left,wickets,total_runs_x,current_rr,Requied_rr,result
35268,Kings XI Punjab,Mumbai Indians,Mumbai,74,45,8,163,7.12,9.866667,1

In [98]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
ball_left       0
wickets         0
total_runs_x    0
current_rr      0
Requied_rr      0
result          0
dtype: int64

In [100]:
# Model training
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [102]:
x_train

,batting_team,bowling_team,city,runs_left,ball_left,wickets,total_runs_x,current_rr,Requied_rr
52608,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah,46,41,8,150,7.898734,6.731707
39406,Mumbai Indians,Chennai Super Kings,Bangalore,126,76,8,187,8.318182,9.947368
90192,Delhi Capitals,Kolkata Knight Riders,Delhi,93,55,9,193,9.230769,10.145455
18652,Rajasthan Royals,Mumbai Indians,Mumbai,210,111,9,212,1.333333,11.351351
39443,Mumbai Indians,Chennai Super Kings,Bangalore,85,39,4,187,7.555556,13.076923
...,...,...,...,...,...,...,...,...,...
91695,Sunrisers Hyderabad,Delhi Capitals,Delhi,33,47,8,134,8.301370,4.212766
99676,Delhi Capitals,Chennai Super Kings,Chennai,152,96,9,186,8.500000,9.500000
46179,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,155,107,10,174,8.769231,8.691589
64188,Chennai Super Kings,Mumbai Indians,Mumbai,17,30,7,183,11.066667,3.400000
75208,Kings XI Punjab,Royal Challengers Bangalore,Chandigarh,77,45,7,175,7.840000,10.266667

In [112]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
       ('trf',OneHotEncoder(drop='first'),['batting_team','bowling_team','city'] )],
           remainder='passthrough' )

In [114]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

pipe = Pipeline(steps=[
    ('step1', trf),   # your transformer (e.g., StandardScaler, ColumnTransformer, etc.)
    #('step2', RandomForestClassifier(n_estimators=100, random_state=42))
    ('step2', SVC(kernel='rbf', probability=True))
])

pipe.fit(x_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', SVC(probability=True))])

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [102]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier(random_state=42))])

In [118]:
y_pred=pipe.predict(x_test)

In [120]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7742827868852459

In [122]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score

In [124]:
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Confusion Matrix:
 [[3215 1316]
 [ 887 4342]]

Classification Report:
               precision    recall  f1-score   support

           0       0.78      0.71      0.74      4531
           1       0.77      0.83      0.80      5229

    accuracy                           0.77      9760
   macro avg       0.78      0.77      0.77      9760
weighted avg       0.78      0.77      0.77      9760

In [ ]:
cv_scores = cross_val_score(pipe, x, y, cv=5)  # use full dataset (X,Y)
print("\nCross-Validation Scores:", cv_scores)
print("Mean CV Accuracy:", np.mean(cv_scores))

In [140]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [145]:
import pickle
pickle.dump(pipe,open('pipe.pkl1','wb'))

In [147]:
import sklearn

In [149]:
print(sklearn.__version__)

1.4.2